{
    "extends": "airbnb",
    # this is for object spread
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": [2, 4],
        "max-len": [2, 120],
        'react/jsx-indent-props': [2, "tab"],
        'react/jsx-indent': [2, "tab"],
        'prefer-arrow-callback': 0
    }
}
