/**
 * @require reset.less;
 */

.lcontainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: auto;
    // background-color: #aaa;
}

.c-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+     */
}

div,p,span {
    font-size: 16px; // 默认写上dpr为1的fontSize
}

[data-dpr="2"] div,p,span {
    font-size: 24px;
}

[data-dpr="3"] div,p,span {
    font-size: 36px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     border: none;
     outline: none;
 }
.clearfix { display: inline-block; }
