.product-wrap {
    overflow: auto;
    padding-top: 1.25rem;
}
ul.product-list {
    text-align: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0.275rem 0;
}
